body {
    font-family: sans-serif;
    margin: 0;
    background-color: #e7f0fd;
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(153, 56, 56);
  }
  
  li {
    float: right;
    font-size: 22px;
    height: 100%;
    margin-right: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .logo {
    cursor: pointer;
    width: 120px;
  }
  
  .carte {
    margin-right: 330px;
  }
  
  .carte:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .topnav {
    height: 54px;
  }
  
  .accueil {
    margin-right: 0px;
  }
  
  .inscription {
    margin-right: 0px;
  }
  
  .histoire {
    margin-right: 300px;
  }
  
  .histoire:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .button:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .select {
    background-color: rgb(87, 19, 19);
    border-radius: 8px;
    color: rgb(28, 28, 179);
  }

  .general {
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: rgba(61, 61, 61, 0.856);
    margin-left: 35%;
    top: 30%;
    border-radius: 4px;
}

.nom {
    position: absolute;
    margin-left: 5%;
    top: 5%;
    width: 250px;
    height: 25px;

}

.prix {
    position: absolute;
    margin-left: 58%;
    top: 5%;
    width: 200px;
    height: 25px;
}

.chateau {
    position: absolute;
    top: 20%;
    margin-left: 5%;
    width: 250px;
    height: 25px;
}

.image {
    position: absolute;
    top: 20%;
    margin-left: 60%;
    width: 200px;
    height: 25px;
}

.desc {
    position: absolute;
    top: 45%;
    margin-left: 2%;
}

.valider {
    position: absolute;
    top: 80%;
    margin-left: 27%;
    width: 250px;
    height: 25px;
    border-radius: 7px;
    background-color: white;
}

.valider:hover {
    cursor: pointer;
    background-color: rgb(141, 141, 141);
    border-radius: 12px;
    border-color: rgb(141, 141, 141);
}

.message {
    position: absolute;
    margin-left: 45%;
    top: 23%;
    color: red;
}
