img {
    position: absolute;
    width: 50%;
    margin-left: 25%;
}

.med {
    position: absolute;
    background-color: transparent;
    width: 100px;
    margin-left: 34%;
    border-color: transparent;
    margin-top: 16%;
    cursor: pointer;

}

.gra {
    position: absolute;
    background-color: transparent;
    width: 250px;
    margin-left: 32%;
    margin-top: 35%;
    cursor: pointer;
    border-color: transparent;
}

.lib {
    position: absolute;
    background-color: transparent;
    width: 130px;
    margin-left: 67%;
    margin-top: 15.2%;
    cursor: pointer;
    border-color: transparent;
}

.haute {
    position: absolute;
    background-color: transparent;
    width: 200px;
    margin-left: 52%;
    margin-top: 6.5%;
    cursor: pointer;
    border-color: transparent;
}

.entre {
    position: absolute;
    background-color: transparent;
    width: 200px;
    margin-left: 63%;
    margin-top: 38%;
    cursor: pointer;
    border-color: transparent;
}
