body {
    font-family: sans-serif;
    margin: 0;
    background-color: #e7f0fd;
    padding: 0;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(153, 56, 56);
  }
  
  li {
    float: right;
    font-size: 22px;
    height: 100%;
    margin-right: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .logo {
    cursor: pointer;
    width: 120px;
  }
  
  .carte {
    margin-right: 330px;
  }
  
  .carte:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .topnav {
    height: 54px;
  }
  
  .accueil {
    margin-right: 0px;
  }
  
  .inscription {
    margin-right: 0px;
  }
  
  .histoire {
    margin-right: 300px;
  }
  
  .histoire:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .button:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .select {
    background-color: rgb(87, 19, 19);
    border-radius: 8px;
    color: rgb(28, 28, 179);
  }

  .general {
      position: absolute;
      width: 400px;
      height: 320px;
      background-color: rgba(61, 61, 61, 0.856);
      margin-left: 38%;
      top: 30%;
      border-radius: 4px;
  }

  .email {
      position: relative;
      text-align: center;
      margin-left: 20%;
      margin-top: 5%;
      width: 60%;
      height: 25px;
      border-radius: 6px;
  }

  .password {
      position: relative;
      text-align: center;
      margin-left: 20%;
      margin-top: 6%;
      width: 60%;
      height: 25px;
      border-radius: 6px;
  }

  .conf-password {
    position: relative;
    text-align: center;
    margin-left: 20%;
    margin-top: 6%;
    width: 60%;
    height: 25px;
    border-radius: 6px;
}

.age {
    position: relative;
    text-align: center;
    margin-left: 20%;
    margin-top: 6%;
    width: 60%;
    height: 25px;
    border-radius: 6px;
}

  .valider {
      position: absolute;
      text-align: center;
      margin-left: -50%;
      margin-top: 20%;
      width: 40%;
      height: 34px;
      border-radius: 6px;
      background-color: white;
      
  }

  .valider:hover {
    cursor: pointer;
    background-color: rgb(141, 141, 141);
    border-radius: 12px;
    border-color: rgb(141, 141, 141);
  }

  .message {
      position: absolute;
      margin-left: 43%;
      top: 23%;
      color: red;
  }