body {
    font-family: sans-serif;
    margin: 0;
    background-color: #e7f0fd;
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(153, 56, 56);
  }
  
  li {
    float: right;
    font-size: 22px;
    height: 100%;
    margin-right: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .logo {
    cursor: pointer;
    width: 120px;
  }
  
  .carte {
    margin-right: 330px;
  }
  
  .carte:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .topnav {
    height: 54px;
  }
  
  .accueil {
    margin-right: 0px;
  }
  
  .inscription {
    margin-right: 0px;
  }
  
  .histoire {
    margin-right: 300px;
  }
  
  .histoire:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .button:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .select {
    background-color: rgb(87, 19, 19);
    border-radius: 8px;
    color: rgb(28, 28, 179);
  }
  
  .vin {
    margin-left: 5px;
    background-color: #9c9c9c;
    width: 238px;
    border-radius: 5px;
    float: left;
  }
  
  .prixVin {
    position: absolute;
    top: 45%;
    margin-left: 49%;
    padding-bottom: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #454a68;
  }
  
  .nomVin {
    position: absolute;
    text-decoration: none;
    top: 30%;
    margin-left: 40%;
    color: #454a68;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
  }
  
  .bouteilleVin {
    display: flex;
    height: 300px;
    width: 200px;
    margin-top: 0.5%;
    margin-left: 20%;
  }
  

  .general {
    position: relative;
    width: 100%;
    height: 320px;
    background-color: rgba(104, 104, 105, 0.63);
    border-radius: 7px;
    margin-top: 50px;
  }

  .suppr {
    position: absolute;
    top: 75%;
    margin-left: 47.3%;
    width: 100px;
  }

  .suppr:hover {
      cursor: pointer;
  }

  .espace1 {
      position: absolute;
      width: 100%;
      height: 50px;
      background-color: transparent;
  }

  .panier-vide{
      position: absolute;
      top: 25%;
      margin-left: 38%;
      font-size: 20px;
  }
