body {
  font-family: sans-serif;
  margin: 0;
  background-color: #e7f0fd;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(153, 56, 56);
}

li {
  float: right;
  font-size: 22px;
  height: 100%;
  margin-right: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  cursor: pointer;
  width: 120px;
}

.carte {
  margin-right: 330px;
}

.carte:hover {
  background-color: rgb(87, 19, 19);
  height: 100%;
  border-radius: 8px;
  color: rgb(104, 104, 105);
}

.topnav {
  height: 54px;
}

.accueil {
  margin-right: 0px;
}

.inscription {
  margin-right: 0px;
}

.histoire {
  margin-right: 300px;
}

.histoire:hover {
  background-color: rgb(87, 19, 19);
  height: 100%;
  border-radius: 8px;
  color: rgb(104, 104, 105);
}

.button:hover {
  background-color: rgb(87, 19, 19);
  height: 100%;
  border-radius: 8px;
  color: rgb(104, 104, 105);
}

.select {
  background-color: rgb(87, 19, 19);
  border-radius: 8px;
  color: rgb(28, 28, 179);
}

.vin {
  margin-left: 5px;
  background-color: #9c9c9c;
  width: 238px;
  border-radius: 5px;
  float: left;
  margin-top: 0%;
  margin-right: 20px;
}

.prixVin {
  padding-bottom: 15px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: #4857bd;
}

.nomVin {
  text-decoration: none;
  text-align: center;
  color: #4857bd;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.bouteilleVin {
  text-align: center;
  margin: auto;
  display: flex;
  height: 300px;
  width: 200px;
}

.ordre {
  position: relative;
  width: 150px;
  height: 30px;
  margin-left: 1%;
  margin-top: 1%;
}

.valide-ordre {
  position: relative;
  margin-left: 0%;
  width: 60px;
  height: 20px;
  border-radius: 2px;
  background-color: white;
}

.valide-ordre:hover {
  cursor: pointer;
  border-radius: 6px;
  background-color: whitesmoke;
}

.all {
  margin-top: 0;
}