body {
    font-family: sans-serif;
    margin: 0;
    background-color: #e7f0fd;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(153, 56, 56);
  }
  
  li {
    float: right;
    font-size: 22px;
    height: 100%;
    margin-right: 20px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .logo {
    cursor: pointer;
    width: 120px;
  }
  
  .carte {
    margin-right: 330px;
  }
  
  .carte:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .topnav {
    height: 54px;
  }
  
  .accueil {
    margin-right: 0px;
  }
  
  .inscription {
    margin-right: 0px;
  }
  
  .histoire {
    margin-right: 300px;
  }
  
  .histoire:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .button:hover {
    background-color: rgb(87, 19, 19);
    height: 100%;
    border-radius: 8px;
    color: rgb(104, 104, 105);
  }
  
  .select {
    background-color: rgb(87, 19, 19);
    border-radius: 8px;
    color: rgb(28, 28, 179);
  }
  
  
  a {
    text-decoration: none;
  }

  .block-img {
    height: 500px;
    width: 400px;
    margin-left: 38.7%;
    margin-top: 5%;
    background-color: transparent;
  }

  .img-vin {
    position: absolute;
    text-align: center;
    margin: auto;
    display: flex;
    height: 500px;
    width: 400px;
  }

  .nom_vin {
      position: absolute;
      margin-left: 7%;
      top: 28%;
  }

  .prix_vin {
      position: absolute;
      margin-left: 45%;
      top: 35%;
      line-height: 7em;
  }

  @import url('http://fonts.cdnfonts.com/css/stardos-stencil');
  @import url('http://fonts.cdnfonts.com/css/allejo');

  .desc_vin {
      position: absolute;
      width: 1000px;
      height: 20%;
      top: 24%;
      margin-left: 25%;
      line-height: 2em;
      font-size: 20px;
      font-family: 'Stardos Stencil', sans-serif;  
      margin-left: 7%;
  }

  .desc {
      position: absolute;
      margin-left: 46%;
      top: 3%;
  }

  .block-vin {
    background-image: url("../fond-image.jpg");
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
    width: 100%;
    height: 70%;
  }

  .block-info {
    position: absolute;
    width: 400px;
    height: 200px;
    margin-left: 69%;
    top: 20%;
    border-radius: 7px;
    background-color: rgba(129, 125, 125, 0.733);
    font-family: 'Allejo', sans-serif;
  }

  .block-desc {
    position: absolute;
    background-color: rgba(168, 168, 168, 0.76); 
    width: 70%;
    margin-left: 15%;
    height: 300px;
    top: 80%;
    border-radius: 5px;
  }

  .fin {
      position: absolute;
      width: 100%;
      height: 100px;
      background-color: transparent;
      top: 120%;
  }
  .ajout-panier {
      position: absolute;
      margin-left: 34%;
      top: 87%;
      height: 30%;
      width: 30%;
      font-size: 17px;
      text-align: center;
      font-family: 'Stardos Stencil', sans-serif; 
  }

  .ajout-panier:hover {
    cursor: pointer;
  }
